.container {
  position: relative;
  padding: 4rem;
  background-color: #ffffff;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container .page {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.container .title-text {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  color: var(--black);
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  font-style: var(--title-font-style);
}

.container .contact-details {
  position: relative;
  align-self: stretch;
  font-family: var(--sub-text-font-family);
  font-weight: var(--sub-text-font-weight);
  color: var(--black);
  font-size: var(--sub-text-font-size);
  letter-spacing: var(--sub-text-letter-spacing);
  line-height: var(--sub-text-line-height);
  font-style: var(--sub-text-font-style);
}

.container .v-divider {
  color: #595959;
}

.container section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.container .section-heading {
  font-family: var(--headline-1-font-family);
  font-weight: var(--headline-1-font-weight);
  color: var(--black);
  font-size: var(--headline-1-font-size);
  letter-spacing: var(--headline-1-letter-spacing);
  line-height: var(--headline-1-line-height);
  font-style: var(--headline-1-font-style);
  text-transform: uppercase;
}

.container .body-text {
  position: relative;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.container .list {
  padding: 1rem;
}

.list .body-text {
  list-style: disc;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.container .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.container .exp-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.container .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.container .company-info {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--headline-3-font-family);
  font-weight: var(--headline-3-font-weight);
  color: var(--black);
  font-size: var(--headline-3-font-size);
  letter-spacing: var(--headline-3-letter-spacing);
  line-height: var(--headline-3-line-height);
  white-space: nowrap;
  font-style: var(--headline-3-font-style);
}

.container .company-job-role {
  position: relative;
  width: fit-content;
  font-family: var(--headline-2-font-family);
  font-weight: var(--headline-2-font-weight);
  color: var(--primary);
  font-size: var(--headline-2-font-size);
  letter-spacing: var(--headline-2-letter-spacing);
  line-height: var(--headline-2-line-height);
  font-style: var(--headline-2-font-style);
}

.container .education-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.container .education-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}
