:root {
  --black: var(--variable-collection-black);
  --primary: var(--variable-collection-primary);
  --title-font-family: "Noto Serif", Helvetica;
  --title-font-weight: 400;
  --title-font-size: 48px;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
  --title-font-style: normal;
  --headline-1-font-family: "Noto Serif", Helvetica;
  --headline-1-font-weight: 700;
  --headline-1-font-size: 28px;
  --headline-1-letter-spacing: 0px;
  --headline-1-line-height: normal;
  --headline-1-font-style: normal;
  --headline-2-font-family: "Inter", Helvetica;
  --headline-2-font-weight: 700;
  --headline-2-font-size: 24px;
  --headline-2-letter-spacing: 0px;
  --headline-2-line-height: normal;
  --headline-2-font-style: normal;
  --headline-3-font-family: "Inter", Helvetica;
  --headline-3-font-weight: 700;
  --headline-3-font-size: 20px;
  --headline-3-letter-spacing: 0px;
  --headline-3-line-height: normal;
  --headline-3-font-style: normal;
  --body-font-family: "Inter", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --sub-text-font-family: "Inter", Helvetica;
  --sub-text-font-weight: 400;
  --sub-text-font-size: 12px;
  --sub-text-letter-spacing: 0px;
  --sub-text-line-height: normal;
  --sub-text-font-style: normal;
  --variable-collection-black: rgba(89, 89, 89, 1);
  --variable-collection-primary: rgba(68, 114, 196, 1);
}
